/**
  * [1] Squish to corner of screen.
  * [2] Delay the hidding (squish) until animations have finished.
  * [3] Override the transition to instantly position the element.
        This should be equal to the slowest property in the initial transition.
  */


.el {
  background: #000;
  color: #fff;
  top: 100vh;  /* [1] */
  right: 0;  /* [1] */
  bottom: 0;  /* [1] */
  left: 100vw;  /* [1] */
  opacity: 0;
  position: fixed;
  transition:
    opacity 500ms,
    transform 700ms,
    top 0s 700ms, /* [2] */
    left 0s 700ms; /* [2] */
  z-index: 4;
  // backdrop-filter: saturate(180%) blur(5px);
}

.open {
  opacity: 1;
  inset: 0;
  overflow: auto;
  transition:
    opacity 700ms,
    transform 400ms,
    top 0s,  /* [3] */
    left 0s;  /* [3] */
}

.close {
  top: 16px;
  right: 16px;
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  height: 48px;
  padding: 0;
  width: 48px;
}

.open .close {
  position: fixed;
}

.query {
  background: #000;
  border: 0;
  color: #fff;
  font-family: var(--font-serif);
  font-size: 3rem;
  margin: 0 auto 1rem;
  outline: 0;
  padding: 0.25em calc(10% + 48px) 0.25em 10%;
  position: fixed;
  width: 100%;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.results {
  font-family: var(--font-serif);
  list-style: none;
  margin: 100px auto 7rem;
  max-width: 80%;
  padding: 0;
}

.result {
  margin: 0.75em 0;
}

.result a {
  color: #eee;
  font-size: 1.5rem;
}

.sub {
  color: #999;
  display: block;
  font-size: 1rem;
}
